*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to right top, #000000, #070707, #0d0d0d, #121212, #161616, #1a1a1a, #1f1f1f, #232323, #292929, #2f2f2f, #353535, #3b3b3b);
}
.bgCaptcha{
    background-image: url(../images/Abstract-background-with-lines-Top.jpg);
    background-size: cover;
}